.page {
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Golos Text', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Golos Text', sans-serif;
}
